<table class="table table-bordered mb-0">
    <tbody>
    {% for x in issues %}
        <tr>
            <td class="py-2 px-3">
                {% for msg in x.message %}
                    {{ msg }}
                    {% if not forloop.last %}<hr />{% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
