{% extends "kapprovals/base.html" %}


{% block content %}

<div class="row">
<div class="col-md-8 offset-md-2">
    <div class="card rounded-0 shadow-sm mt-4">
        <div class="card-header bg-light">
            <h3>{{ approval.level_content.level }}</h3>
            <p class="mb-0">Status: {{ approval.status|upper }}</p>
        </div>
        <div class="card-body">

            {% for ctn in approval.approvalcontent_set.all %}
            <div>
                <small>{{ approval.level_content.content_type.model.title }}</small>
                <br />
                <h6>{{ ctn.content_object }}</h6>
                {% if ctn.content_object.get_absolute_url %}
                <a href="{{ ctn.content_object.get_absolute_url }}">View Details</a>
                {% endif %}
            </div>
            {% if not forloop.last %}<hr />{% endif %}
            {% endfor %}

        </div>
    </div>
</div>
</div>

    {% comment %}
    <h3>{{ approval.level_content.level }}</h3>
    <p>Status: {{ approval.status|upper }}</p>

    <table class="table table-bordered bg-white">
        <thead>
            <tr>
                <th>#</th>
                <th>Entry</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ctn in approval.approvalcontent_set.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {{ ctn.content_object }}
                </td>
                <td>
                    {% if ctn.content_object.get_absolute_url %}
                    <a href="{{ ctn.content_object.get_absolute_url }}">View Details</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endcomment %}

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            {% if auto_close_popup %}
                closePopupWindow(true);
            {% endif %}
        });

        document.querySelector(".close-popup").addEventListener("click", function(event) {
            closePopupWindow();
        }, false);

        function closePopupWindow(refreshParent=false) {
            if (refreshParent)
                window.opener.location.reload(true);
            window.self.close();
        }
    </script>

{% endblock %}
