<html>
	<head>
		<title>{{ head_title }}</title>
        {% block after_head %}{% endblock %}
	</head>
	<body>
		{% block content %} {% endblock %}

        {% block after_body %}{% endblock %}
	</body>
</html>