{% extends "kapprovals/base_popup.html" %}


{% block content %}
    <h3>Info</h3>

    {% for levels in content_info.levels.values %}
    <table class="">
        {% for lvl in levels %}
        <tr>
            <td>
                {{ lvl.level }}<br />
                {{ lvl.approval }}
            </td>
            <td>
                {% include "kapprovals/includes/approval_issues.html" with issues=lvl.action.issues %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

{% endblock %}
