{% extends base_template %}


{% block content %}
    <h3>Confirmation</h3>
    <p>Are you sure you want to <b>{{ level_content.level.name }}?</b></p>

    <form action='{% url "kapprovals:run_approval" sites.read_site.pk sites.write_site.pk level_content.pk %}?content_pks={{ content.pks }}&pt={{ page_type }}'
          method="post">
        {% csrf_token %}

        <table class="table table-bordered bg-white">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Entry</th>
                    <th>Note</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for content_object in content.queryset %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <small>{{ level_content.content_type.model.title }}</small>
                        <br />
                        {{ content_object }}
                        {% if content_object.get_absolute_url %}
                            <br /><br />
                            <a href="{{ content_object.get_absolute_url }}" target="_blank">View Details</a>
                        {% endif %}
                    </td>
                    <td>
                        <input type="text" name="{{ content_object.pk }}__note" class="form-control" />
                    </td>
                    <td>
                        <select name="{{ content_object.pk }}__action">
                            <option value="accept">Accept</option>
                            <option value="reject">Reject</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <tr>
                <td style="width: 100%">
                    <a href="#" class="btn btn-danger close-popup">Cancel</a>
                </td>
                <td>
                    <input type="submit" class="btn btn-success" value="Proceed" />
                </td>
            </tr>
        </table>

    </form>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            {% if auto_close_popup %}
                closePopupWindow(true);
            {% endif %}
        });

        document.querySelector(".close-popup").addEventListener("click", function(event) {
            closePopupWindow();
        }, false);

        function closePopupWindow(refreshParent=false) {
            if (refreshParent)
                window.opener.location.reload(true);
            window.self.close();
        }
    </script>

{% endblock %}
